
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
librosa==0.7.2
llvmlite==0.32.1

noisereduce==2.0.0
numpy
PyAudio==0.2.11

scikit-learn
scipy
six
sounddevice
SoundFile
tensorflow-gpu==2.3.0


tqdm
pandas